<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=480" />
        <meta name=”twitter:card” content=”summary“ /> 
        <meta name=”twitter:site content=”@m77_“ /> 
        <meta name="twitter:title" content="🍑🎲simu" />
        <meta name=”twitter:description content=”🍑の🎲で🎲をいくつ振ればいいか確率を計算します“ /> 
        <link rel="stylesheet" href="style.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <title>🍑🎲simu</title>
    </head>
    <body>
        <h1>🍑🎲simu</h1>
        <div id="app_main">
            <div id="titlebar">
            <h2>出したい目</h2>
            <button id="clear" v-on:click="clr">クリア</button>
        </div>
            <ul id="target_numbers">
                <li v-for="number in numbers" :key="target_numbers.num">
                    <div class="switchArea">
                        <input type="checkbox" v-model="checked_val" :id="number.checkbox_id" v-bind:value="number">
                        <label :for="number.checkbox_id"><span>{{number.num}}</span></label>
                    </div>
                </li>
            </ul>
            <h2>🎲をn個使って出せる確率
            </h2>
            <div class="result">🎲1個 {{d1}}</div>
            <div class="result">🎲2個 {{d2}}</div>
            <div class="result">🎲3個 {{d3}}</div>
            <div class="result">🎲4個 {{d4}}</div>
            <div class="result">🎲5個 {{d5}}</div>
            <div class="result">🎲6個 {{d6}}</div>
            <div class="result">🎲8個 {{d8}}</div>
        </div>
<script src="main.js"></script>

    </body>
</html>