<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
        <link rel="stylesheet" href="style.css">

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <h1>🍑🎲simu</h1>
        <div id="app_main">
            <ul id="target_numbers">
                <li v-for="number in numbers" :key="target_numbers.num">
                    <div class="switchArea">
                        <input type="checkbox" v-model="checked_val" :id="number.checkbox_id" v-bind:value="number">
                        <label :for="number.checkbox_id"><span>{{number.num}}</span></label>
                        <div id="swImg"></div>
                    </div>
                </li>
            </ul>
            <div class="result">🎲1個 {{d1}}</div>
            <div class="result">🎲2個 {{d2}}</div>
            <div class="result">🎲3個 {{d3}}</div>
            <div class="result">🎲4個 {{d4}}</div>
            <div class="result">🎲5個 {{d5}}</div>
            <div class="result">🎲6個 {{d6}}</div>
            <div class="result">🎲8個 {{d8}}</div>
        </div>
<script src="main.js"></script>

    </body>
</html>