#target_numbers li{
    display: inline-block;
}
ul {
  padding: 1px
}
#titlebar{
  width: 100%;
}
h2{
  font-size: 29px;
}
#clear{
  background: #fff;
  color: #999;
  border-radius: 60px;
  height: 60px;
  width: 120px;
  border: 2px solid #999999;
  font-size: 21px;
  margin-right: 10px;
  margin-left: auto;
  display: inline-block;
}
#titlebar h2{
  display: inline-block;
}
 /* === ボタンを表示するエリア ============================== */
.switchArea {
  line-height    : 60px;                /* 1行の高さ          */
  letter-spacing : 0;                   /* 文字間             */
  text-align     : center;              /* 文字位置は中央     */
  font-size      : 27px;                /* 文字サイズ         */

  position       : relative;            /* 親要素が基点       */
  margin         : auto;                /* 中央寄せ           */
  width          : 60px;               /* ボタンの横幅       */
  background     : #fff;                /* デフォルト背景色   */
  margin: 5px;
}

 /* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
  display        : none;            /* チェックボックス非表示 */
}

 /* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
  display        : block;               /* ボックス要素に変更 */
  box-sizing     : border-box;          /* 枠線を含んだサイズ */
  height         : 60px;                /* ボタンの高さ       */
  border         : 2px solid #999999;   /* 未選択タブのの枠線 */
  border-radius  : 30px;                /* 角丸               */
}

 /* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
  border-color   : #78bd78;             /* 選択タブの枠線     */
}

 /* === 表示する文字（標準） ================================ */
.switchArea label span{
  color          : #999999;             /* 文字色             */
}

 /* === 表示する文字（ONのとき） ============================ */
.switchArea  input[type="checkbox"]:checked + label span{
  color          : #78bd78;             /* 文字色             */
  font-weight : bold;
}

/* == 結果を表示するエリア == */
.result {
    line-height    : 60px;                /* 1行の高さ          */
    letter-spacing : 0;                   /* 文字間             */
    text-align     : center;              /* 文字位置は中央     */
    font-size      : 27px;                /* 文字サイズ         */
    display: inline-block;
    position       : relative;            /* 親要素が基点       */
    margin         : auto;                /* 中央寄せ           */
    width          : 180px;               /* ボタンの横幅       */
    background     : #fff;                /* デフォルト背景色   */
    margin: 2px;
    height         : 60px;                /* ボタンの高さ       */
    border         : 2px solid #999999;   /* 未選択タブのの枠線 */
    border-radius  : 30px;                /* 角丸               */
  }